body, ul, li, span, h1, h2, h3, h4, h5, h6, a {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

input[type="text"] {
    font-size: 16px;
}

body {
    background-color: #fafafa;
}


input[type="text"], input[type="password"] {
    padding: 3px;
    border: 1px solid rgb(238,238,238);
    -webkit-appearance: none;
}

select {
    padding: 5px 0px;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

span, a {
    display: inline-block;
}
/* global css */

#header {
    line-height: 40px;
    height: 40px;
}

li.search {
    line-height: 50px;
    height: 50px;
}

#header {
    position: relative;
    border-bottom: 1px solid #009900;
}

#header {
    padding: 0 10px;
}


#wrapper ul li {
    padding: 0px 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

span.title {
    min-width: 50px;
    min-width: 15%;
}

li select {
    width: 35%;
}

#sxb, #ct {
    color: green;
}

    #sxb.active, #ct.active {
        /*border-bottom: 2px solid green;*/
        background-color: #f0f0f0;
        border-bottom: 1px solid #ccc;
        color: #8c8c8c;
    }

div.searchicon {
    background-image: url(/Content/images/search.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 40px;
    background-size: 60px auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    vertical-align: top;
    border-left: 1px dotted green;
    text-align: center;
}

li.ct, li.sxb {
    display: none;
}

div.hideback {
    display: none;
}

.zindex {
    z-index: 1000;
}

#shade_bottom {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    z-index: 1001;
}

#shade_top_div {
    display: none;
    position: absolute;
    top: 50%;
    left: 10%;
    height: auto;
    border: 1px solid #E8E9F7;
    background-color: white;
    overflow: auto;
    z-index: 1002;
}

#suggest li {
    position: relative;
}

    #suggest li:active {
        background-color: #eee;
    }

    #suggest li a {
        border-bottom: 1px solid #808080;
        color: #222222;
        padding: 1em 10px;
    }

#wrapper.nav {
    position: absolute;
    left: 40%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "mobileicons";
    src: url("/fonts/mobileicons.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


#navbar:before {
    /*content: "\e009";*/
    content:url(/content/images/nav.png);
}

#navbar:active, #backbtn:active {
    background-color: #005801;
}