body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}


input[type="text"] {
    font-size: 16px;
}

ul li a {
    color: black;
    padding: 0 10px;
}

    ul li a:active {
        background-color: #d5d5d5;
        /*background-color:#DBDBDB*/
    }


#footer {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
    background-image: -o-linear-gradient(top, #999, #666 2%, #222);
}

#wrapper {
    position: absolute;
    z-index: 1;
    /*top: -51px;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #aaa;
    overflow: auto;
}

#scroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 0;
}

    #scroller ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    #scroller li {
        /*padding: 0 10px;*/
        padding: 0px;
        /*height: 40px;*/
        /*line-height: 40px;*/
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #fff;
        background-color: #fafafa;
    }

p {
    font-size: 14px;
    margin: 5px;
    padding: 0;
}

#myFrame {
    position: absolute;
    top: 0;
    left: 0;
}



    #pullDown .pullDownIcon, #pullUp .pullUpIcon {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        background: url(/Content/images/pull-icon@2x.png) 0 0 no-repeat;
        -webkit-background-size: 40px 80px;
        background-size: 40px 80px;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 250ms;
    }

    #pullDown .pullDownIcon {
        -webkit-transform: rotate(0deg) translateZ(0);
    }

    #pullUp .pullUpIcon {
        -webkit-transform: rotate(-180deg) translateZ(0);
    }

    #pullDown.flip .pullDownIcon {
        -webkit-transform: rotate(-180deg) translateZ(0);
    }

    #pullUp.flip .pullUpIcon {
        -webkit-transform: rotate(0deg) translateZ(0);
    }

    #pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
        background-position: 0 100%;
        -webkit-transform: rotate(0deg) translateZ(0);
        -webkit-transition-duration: 0ms;
        -webkit-animation-name: loading;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }

    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

#navbar:active, #backbtn:active {
    background-color: #005801;
}
