body, ul, li, span, h1, h2, h3, h4, h5, h6, a, p {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

input[type="text"] {
    font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fafafa;
}


input[type="text"] {
    padding: 3px;
    border-width: 1px;
    border-color: rgb(238,238,238); /*#8d8d8d*/
    border-style: solid;
}

input[type="password"] {
    padding: 3px;
    border-width: 1px;
    border-color: rgb(238,238,238);
    border-style: solid;
}

select {
    padding: 3px 0px;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

span, a {
    display: inline-block;
}
/* global css */

li.search {
    line-height: 40px;
    height: 40px;
}

#wrapper ul li {
    padding: 0px 10px;
    border-bottom: 1px solid #ddd; /*ccc比较重*/
    position: relative;
}

span.title {
    min-width: 23%;
}

li select {
    width: 35%;
}

div.active {
    /*border-bottom: 2px solid green;*/
    background-color: #f0f0f0;
    border-bottom: 1px dotted green;
}

div.searchicon {
    background-image: url(/Content/images/search.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 40px;
    background-size: 60px auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    vertical-align: top;
    border-left: 1px dotted green;
    text-align: center;
}

li.ct, li.sxb {
    display: none;
}

div.hideback {
    display: none;
}

.zindex {
    z-index: 1000;
}

#shade_bottom {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    z-index: 1001;
}

#shade_top_div {
    display: none;
    position: absolute;
    top: 50%;
    left: 10%;
    height: auto;
    border: 1px solid #E8E9F7;
    background-color: white;
    overflow: auto;
    z-index: 1002;
}

#wrapper.nav {
    position: absolute;
    left: 40%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "mobileicons";
    src: url("/fonts/mobileicons.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


#navbar:before {
    /*content: "\e009";*/
    content:url(/content/images/nav.png);
}

#navbar:active, #backbtn:active {
    background-color: #005801;
}