@{
    if (HttpContext.Current.Request.UserAgent.Contains("kuaipinche"))
    {
        ViewBag.Title = "产品条款";
    }
    else
    {
        ViewBag.Title = "快拼车";
    }
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

@section head{
    @Styles.Render("~/Content/route/city")
}


<div id="city_box" style="min-height:300px">
    <div class="header" style="@(HttpContext.Current.Request.UserAgent.Contains("kuaipinche") ?"display:none":"")">
        <span id="backbtn" class="backbtn" onclick="history.back();">
        </span>
        <div class="headertitle">产品条款</div>
    </div><!-- navbar -->

    <div style="background-color: whitesmoke; padding: 10px; line-height: 1.5">
        <div style="text-align:center;font-size:18px;font-weight:bold;">交通综合意外保障计划</div>
        <p><b>1.产品名称：</b>交通综合意外保障计划</p>

        <p><b>2产品代码：</b>PC0000000120</p>

        <p><b>3.	产品基本信息：</b></p>
        <p>i.	投保年龄：18-60岁</p>
        <p>ii.	保险期间：30天</p>
        <p>iii.	投保人、被保险人需为同一人</p>
        <p>保障内容	保障金额</p>
        <p>自驾车意外身故保险金	10万</p>
        <p>自驾车意外伤残保险金	1万</p>
        <p>水陆公共交通意外身故保险金	10万</p>
        <p>水陆公共交通意外伤残保险金	1万</p>
        <p>航空意外身故保险金	10万</p>
        <p>航空意外伤残保险金	1万</p>
        <p>意外伤害住院医疗保险金	1,000元</p>

        <p><b>4.	产品特色：</b>涵括全球范围内30天无限次保额高达10万元的自驾车意外伤害保障，以及涵盖火车、高铁、地铁、轻轨、汽车、出租车、轮船、飞机公共交通工具意外伤害保障，同时提供1000元意外伤害住院医疗保险金，尤其适合有意外医疗保障需求的自驾和拼车一族。</p>

        <p><b>5.	保险激活：</b>客户完成申领本保险后，将于当日24小时自动生效。</p>

        <p><b>6.	产品责任简述</b></p>
        <p>一、	自驾车意外身故保险金</p>
        <p>若被保险人自进入自驾车车厢至抵达目的地走出车厢时止，在驾驶或乘坐的状态中发生意外伤害事故，且自该意外伤害事故发生之日起一百八十日内因该意外伤害事故单独且直接导致身故的，我们将按10万的保险金额扣除累计已给付的自驾车意外伤残保险金后的金额给付自驾车意外身故保险金。</p>
        <p>二、	自驾车意外伤残保险金</p>
        <p>若被保险人自进入自驾车车厢至抵达目的地走出车厢时止，在驾驶或乘坐的状态中发生意外伤害事故，且自该意外伤害事故发生之日起一百八十日内因该意外伤害事故单独且直接导致身体伤残的，且该伤残属于中国保险行业协会、中国法医学会联合发布的《人身保险伤残评定标准（行业标准）》（中保协发[2013]88号，见附表）中所列的伤残项目的，我们将根据该伤残项目所对应的给付比例乘以1万的保险金额给付自驾车意外伤残保险金。</p>
        <p>我们向同一被保险人给付的自驾车意外伤残保险金的累计金额最高为1万。</p>
        <p>三、	水陆空公共交通意外身故保险金</p>
        <p>若被保险人作为乘客持有效客票乘坐从事合法客运的火车、高铁，地铁、轻轨、汽车、出租车、轮船、飞机等公共交通工具时发生意外伤害事故，且自该意外伤害事故发生之日起一百八十日内因该意外伤害事故单独且直接导致身故的，我们将按10万保险金额扣除累计已给付的水陆空公共交通意外伤残保险金后的金额给付水陆空公共交通意外身故保险金。</p>
        <p>四、	水陆空公共交通意外伤残保险金</p>
        <p>若被保险人作为乘客持有效客票乘坐从事合法客运的火车、高铁，地铁、轻轨、汽车、出租车、轮船、飞机等公共交通工具时发生意外伤害事故，且自该意外伤害事故发生之日起一百八十日内因该意外伤害事故单独且直接导致身体伤残的，且该伤残属于中国保险行业协会、中国法医学会联合发布的《人身保险伤残评定标准（行业标准）》（中保协发[2013]88号，见附表）中所列的伤残项目的，我们将根据该伤残项目所对应的给付比例乘以1万的保险金额给付水陆空公共交通意外伤残保险金。</p>
        <p>我们向同一被保险人给付的水陆空公共交通意外伤残保险金的累计金额最高为1万。</p>
        <p>五、	意外伤害住院医疗保险金</p>
        <p>若被保险人发生意外伤害事故，且自该意外伤害事故发生之日起一百八十日内因该意外伤害事故单独且直接导致伤害，并经国家卫生行政部门认定的医疗机构的医生诊断必须住院治疗的，则我们将按如下规则给付意外伤害住院医疗保险金：</p>
        <p>1）	若被保险人已从公费医疗、社会医疗保险取得医疗费用补偿，我们将按如下公式给付意外伤害住院医疗保险金：</p>
        <p>意外伤害住院医疗保险金 = 该意外伤害事故发生之日起一百八十日内已支出的、必要且合理的住院医疗费用- 任何已获得的住院医疗费用补偿</p>
        <p>2）	若被保险人未从公费医疗、社会医疗保险取得医疗费用补偿，我们将按如下公式给付意外伤害住院医疗保险金：</p>
        <p>意外伤害住院医疗保险金 = （该意外伤害事故发生之日起一百八十日内已支出的、必要且合理的住院医疗费用- 任何已获得的住院医疗费用补偿）×90%</p>
        <p>3）	我们对被保险人所承担的给付意外伤害住院医疗保险金的责任以1000元的保险金额为限。</p>
        <p>以上概述仅供参考，详细内容请参照保险合同，并以保险合同规定为准。</p>

        <p><b>7.	责任免除</b></p>
        <p>因下列情形之一导致被保险人身故、伤残的，我们不承担给付本合同约定的各项保险金的责任：</p>
        <p>一、	投保人对被保险人的故意杀害、故意伤害；</p>
        <p>二、	被保险人故意犯罪或者抗拒依法采取的刑事强制措施；</p>
        <p>三、	被保险人自本合同成立之日起自杀，但被保险人自杀时为无民事行为能力人的除外；</p>
        <p>四、	被保险人故意自伤；</p>
        <p>五、	被保险人主动吸食或注射毒品；</p>
        <p>六、	被保险人酒后驾驶，无合法有效驾驶证驾驶，或驾驶无有效行驶证的机动车；</p>
        <p>七、	战争、军事冲突、暴乱或武装叛乱；</p>
        <p>八、	核爆炸、核辐射或核污染；</p>
        <p>九、	被保险人从事潜水、滑水、跳伞、攀岩、蹦极跳、赛马、赛车、摔跤、探险活动及特技表演等高风险运动；被保险人猝死；被保险人非乘客或被保险人乘坐非正在营运的公共交通工具；</p>
        <p>十、	被保险人猝死；被保险人因细菌性食物中毒、矫形整容手术（但因意外伤害事故所致者，不在此列）、医疗事故、药物不良反应导致的伤害；</p>
        <p>十一、	不孕症、人工受孕或非以治疗为目的之避孕及计划生育手术；怀孕（含宫外孕）、流产和分娩以及由其引起的并发症；</p>
        <p>十二、	健康检查、疗养、静养或康复治疗；</p>
        <p>十三、	因疾病或接受治疗引起的并发症、药物不良反应；</p>
        <p>十四、	因精神疾病或受酒精、毒品、管制药物的影响而导致的情况；</p>
        <p> 十五、	职业病、美容手术或任何先天性疾病、先天性畸形或缺陷导致的住院和手术；</p>
        <p> 十六、	被保险人患腰椎间盘突出、肩周炎、颈椎病、腰肌劳损；</p>
        <p> 十七、	被保险人感染艾滋病病毒或患艾滋病；</p>
        <p> 十八、	被保险人未在国家卫生行政部门认定的医疗机构就医。</p>
        <p> 十九、	法院宣告被保险人死亡，但无法证明被保险人的失踪为意外伤害事故直接导致。</p>
        <p> 发生上述情形导致被保险人身故的，本合同终止。</p>
        <p>发生上述情形导致被保险人伤残的，本合同继续有效。</p>

        <p><b> 8.	理赔报案</b></p>
        <p>iv.	保险事故发生后，投保人、被保险人或受益人应及时通过大都会人寿客服热线通知保险公司；</p>
        <p>v.	客服热线：400-818-8168</p>
        <p>vi.	工作时间：周一至周五9点至20点，周六9点至18点</p>
        <p>vii.	报案内容：出险人的姓名、身份证号码、保险单号码、联系方式，事故经过（包括事故发生时间、地点、经过、原因，经治医院、治疗情况、目前状况等）；</p>
        <p>viii.	公司理赔人员在接到理赔报案时，将了解保险事故详情，解答咨询并指导您理赔申请。</p>
    </div>
</div>
@RenderPage("/Views/Shared/_Footer.cshtml")