<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- For Debug Only, pls remove this node while publish -->
		<add key="Debug_Mode" value="true"/>
		<add key="Debug_User" value="o4_p5t6BuRqN3hY8h7D32EuWKYDc" />
		<add key="Trace_Mode" value="true"/>
		<!-- End -->

		<!-- Common Settings -->
		<add key="App_Site_Url" value="http://ialex-hiwifi.jios.org:8090/" />
		<add key="App_Version" value="v3.0" />

		<add key="Official_Site" value="http://www.kuaipinche.com" />
		<add key="Official_Channel" value="http://www.kuaipinche.com/channel" />
		<add key="Official_Weibo" value="http://weibo.com/kuaipinche" />
		<add key="Official_Weixin" value="kuaipinche" />
		<add key="Official_Email" value="kefu@kuaipinche.com" />
		<add key="Official_Tel" value="400-800-8480" />

		<add key="CustomerService_Supervisor_OpenID" value="o4_p5t6BuRqN3hY8h7D32EuWKYDc"/>
		<add key="CustomerService_Supervisor_QQ" value="5883895"/>
		<add key="CustomerService_Administrator_OpenID" value="o4_p5t6BuRqN3hY8h7D32EuWKYDc"/>

		<add key="Portraits_ImageDefault" value="/content/portraits/default.jpg"/>
		<!-- End -->

		<!-- WeChat Communication Settings -->
		<add key="WeChat_MP_Token" value="SNS_Apps_KPC_WeChatToken_0724" />
		<!-- End -->

		<!-- WeChat Service Settings -->
		<!-- 公众号 -->
		<!--
		<add key="WeChat_MP_AppID" value="wxf20cdd91925855f1" />
		<add key="WeChat_MP_AppSecret" value="55fede0ceffdaafae48a5571a0fe717a" />
		-->
		<!-- 测试号 -->
		<add key="WeChat_MP_AppID" value="wxd946f6039772215d" />
		<add key="WeChat_MP_AppSecret" value="296c3e599e7574c5694c639d78d3ea33" />

		<add key="WeChat_MP_OAuth2_AuthURI" value="https://open.weixin.qq.com/connect/oauth2/authorize?appid={0}&amp;redirect_uri={1}&amp;response_type=code&amp;scope={2}&amp;state=1#wechat_redirect" />
		<!-- End -->

		<!-- API Service Settings -->
		<add key="Repository_Service_Entry" value="repositoryService"/>
		<add key="RouteMatrix_Service_Entry" value="routematrixService"/>
		<add key="Insurance_Service_Entry" value="insuranceService"/>
		<add key="WeChat_Service_Entry" value="wechatService"/>
		<add key="SMS_Service_Entry" value="smsService"/>
		<add key="Log_Service_Entry" value="logService"/>
		<!-- End -->

		<!-- Logging Settings -->
		<add key="Logging_EnableExtend_WX" value="true"/>
		<!-- End -->
	</appSettings>

	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" />
		</authentication>
		<compilation targetFramework="4.5" debug="true" />
		<httpRuntime targetFramework="4.5" />
		<customErrors mode="Off" />
	</system.web>

	<log4net>
		<logger name="SNS_Apps_FileLogger">
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender"/>
		</logger>
		<logger name="SNS_Apps_DBLogger">
			<level value="ALL" />
			<appender-ref ref="DatabaseAppender_SQL"/>
		</logger>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\log.test.data" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="4096KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [Thread: %thread]%newline%-5level [Line: %line, Class: %class, File: %file]%newline%message%newline%newline%newline" />
			</layout>
		</appender>
		<appender name="DatabaseAppender_SQL" type="log4net.Appender.AdoNetAppender">
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=Neutral, PublicKeyToken=b77a5c561934e089"/>
			<connectionString value="data source=.;initial catalog=SNS.Apps.KPC.V2.Log;integrated security=True;MultipleActiveResultSets=True;"/>
			<commandText value="INSERT INTO dbo.tbl_Log_WX ([Level], [Thread], [UserID], [Message], [CreateDate]) VALUES (@Level, @Thread, @UserID, @Message, @CreateDate)"/>
			<bufferSize value="3"/>
			<parameter>
				<parameterName value="@Level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Thread"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@UserID"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{UserID}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Message"/>
				<dbType value="String"/>
				<size value="3000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@CreateDate"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
		</appender>
	</log4net>

	<system.webServer>
		<modules>
			<remove name="FormsAuthenticationModule" />
		</modules>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost/api.kuaipinche.com/RepositoryService" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" behaviorConfiguration="netTcpServiceBehavior" contract="SNS.Apps.KPC.Libs.IServices.IRepositoryService" name="repositoryService" />
			<endpoint address="net.tcp://localhost/api.kuaipinche.com/RouteMatrixService" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" behaviorConfiguration="netTcpServiceBehavior" contract="SNS.Apps.KPC.Libs.IServices.IRouteMatrixService" name="routematrixService" />
			<endpoint address="net.tcp://localhost/api.kuaipinche.com/InsuranceService" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" behaviorConfiguration="netTcpServiceBehavior" contract="SNS.Apps.KPC.Libs.IServices.IInsuranceService" name="insuranceService" />
			<endpoint address="net.tcp://localhost/api.kuaipinche.com/WeChatService" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" behaviorConfiguration="netTcpServiceBehavior" contract="SNS.Apps.KPC.Libs.IServices.IWeChatService" name="wechatService" />
			<endpoint address="net.tcp://localhost/api.kuaipinche.com/SMSService" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" behaviorConfiguration="netTcpServiceBehavior" contract="SNS.Apps.KPC.Libs.IServices.ISMSService" name="smsService" />
			<endpoint address="net.tcp://localhost/api.kuaipinche.com/LogService" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" behaviorConfiguration="netTcpServiceBehavior" contract="SNS.Apps.KPC.Libs.IServices.ILogService" name="logService" />
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="netTcpBindingConfig" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="1000" maxReceivedMessageSize="2147483647">
					<security>
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="netTcpServiceBehavior">
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" minFreeMemoryPercentageToActivateService="0" />
	</system.serviceModel>
</configuration>