<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="YSW2ICareSaveSoapBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://icare-uat.metlife.com.cn/services/YSW2ICareSave"
			 binding="basicHttpBinding" bindingConfiguration="YSW2ICareSaveSoapBinding"
			 contract="InsuranceService_Metlife_Ref.YSW2ICareSave" name="YSW2ICareSave" />
		</client>
	</system.serviceModel>
</configuration>