a {
    text-decoration: none;
    color: #555;
}

.hotel_order {
    margin: 0px;
    padding: 0px;
}

    .hotel_order h3 {
        height: 33px;
        line-height: 33px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: normal;
    }

    .hotel_order .order_date {
        background: #FFF;
        height: 42px;
        line-height: 42px;
        text-indent: 10px;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        border-radius: 5px;
        margin-bottom: 9px;
        position: relative;
    }

        .hotel_order .order_date a {
            color: #543a22;
        }

    .hotel_order .ico_down:before {
        width: 12px;
        height: 8px;
        display: block;
        content: "";
        position: absolute;
        top: 18px;
        right: 10px;
        background-position: -40px -30px;
    }

    .hotel_order .ico_up:before {
        width: 12px;
        height: 8px;
        display: block;
        content: "";
        position: absolute;
        top: 18px;
        right: 10px;
        background-position: -40px -45px;
    }

    .hotel_order .ico_up {
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
        border-bottom: 1px solid #c9c9c9;
    }

    .hotel_order .date_con {
        background: #dedede;
        border-radius: 0 0 5px 5px;
        margin-bottom: 10px;
        padding: 8px 0 10px 8px;
        font-size: 14px;
        -webkit-box-shadow: 0 1px 1px #dedede inset,0 1px 0 #fbfaf8;
        border: 1px solid #d2d2d2;
        border-top: 0 none;
    }

        .hotel_order .date_con input {
            width: 79px;
            height: 32px;
            background: #FFF;
            color: #666;
            border-radius: 2px;
            font-size: 14px;
            border: 1px solid #ddd4c8;
            text-align: center;
            outline: 0 none;
        }

        .hotel_order .date_con .current {
            border: 1px solid #ff7148;
            height: 30px;
        }

        .hotel_order .date_con .mod_btn {
            height: 34px;
            line-height: 34px;
        }

    .hotel_order .date_list .date_month {
        height: 32px;
        border-radius: 5px 5px 0 0;
        color: #FFF;
        font-size: 14px;
        text-align: center;
        line-height: 32px;
        border: 1px solid #da7e14;
        border-bottom: 0 none;
        background-color: #ff8301;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#ff9c02),to(#ff8301));
        background-image: -webkit-linear-gradient(top,#ff9c02,#ff8301);
        background-image: linear-gradient(to bottom,#ff9c02,#ff8301);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
    }

.date_month .pre, .date_month .next {
    width: 30px;
    height: 22px;
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}

    .date_month .pre span {
        width: 7px;
        height: 11px;
        display: inline-block;
        background-position: -40px -60px;
        overflow: hidden;
        line-height: 5;
        vertical-align: top;
    }

    .date_month .next span {
        width: 7px;
        height: 11px;
        display: inline-block;
        background-position: -40px -75px;
        overflow: hidden;
        line-height: 5;
        vertical-align: top;
    }

    .date_list table {
        border-collapse: collapse;
    }

        .date_list table thead {
            background: #333;
            border-right: 1px solid #333;
        }

        .date_list table tbody {
            border-right: 1px solid #cabfad;
        }

        .date_list table th {
            height: 32px;
            color: #9a9a9a;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            font-weight: normal;
        }

        .date_list table td {
            height: 32px;
            padding: 0;
            background: #dedede;
            color: #666;
            text-align: center;
            line-height: 32px;
            font-size: 14px;
            border-left: 1px solid #c7c7c7;
            border-bottom: 1px solid #c7c7c7;
            text-shadow: 0 1px 1px rgba(255,255,255,0.7);
            -webkit-box-shadow: 1px 1px 0 #ebe7df inset;
        }

            .date_list table td a {
                display: block;
                color: #666;
                line-height: 32px;
                font-size: 14px;
            }

        .date_list table .dis a {
            color: #c4b7a9;
        }

        .date_list table .current a {
            color: #ff7148;
            font-weight: bold;
        }

        .date_list table .here a {
            background: #ff8401;
            color: #fff;
        }

.hotel_order .date_list .date_month .text {
    padding: 0 18px;
}

.hotel_order .room_info {
    background: #FFF;
    border-left: 1px solid #eae9e7;
    border-right: 1px solid #eae9e7;
    border-bottom: 1px solid #eae9e7;
    border-radius: 5px;
    margin-bottom: 9px;
    position: relative;
}

    .hotel_order .room_info li {
        border-bottom: 1px solid #eae9e7;
        position: relative;
    }

        .hotel_order .room_info li .room_item {
            height: 49px;
        }

        .hotel_order .room_info li .title {
            color: #543a22;
            padding: 4px 0 0 10px;
            display: block;
        }

        .hotel_order .room_info li .info {
            color: #8e745e;
            padding: 0 0 0 10px;
        }

        .hotel_order .room_info li .price, .hotel_order .room_info li .none {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 55px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }

        .hotel_order .room_info li .none {
            font-size: 15px;
        }

        .hotel_order .room_info li .more_info {
            background: #dedede;
            position: relative;
            padding: 10px 0 14px 0;
            -webkit-box-shadow: 0 1px 1px #dedede inset,0 1px 0 #fbfaf8;
        }

            .hotel_order .room_info li .more_info:before {
                display: block;
                width: 10px;
                height: 7px;
                content: "";
                background-position: -40px -90px;
                position: absolute;
                left: 50%;
                top: -5px;
                margin-left: -5px;
            }

            .hotel_order .room_info li .more_info .pic {
                margin: 0 10px;
                float: left;
                padding: 2px;
                background: #FFF;
                -webkit-box-shadow: 0 1px 2px #cfc6b9;
            }

                .hotel_order .room_info li .more_info .pic img {
                    display: block;
                }

.hotel_order .booking_info .title {
    color: #543a22;
    padding-left: 10px;
    font-size: 14px;
    padding-top: 7px;
    display: block;
    line-height: 25px;
}

.hotel_order .booking_info p {
    padding-left: 10px;
    color: #8e745e;
    padding-bottom: 8px;
}
