@*<script src="~/Scripts/common/snsglobal.js"></script>*@
<script>
    function runWorker() {
        var snsworker;
        var isShowingMsg = false;
        if (typeof (Worker) !== "undefined") {
            if (typeof (snsworker) == "undefined") {
                snsworker = new Worker("../../Scripts/worker/orderworker.js");
                snsworker.onmessage = function (event) {
                    var jsonObj = JSON.parse(event.data);
                    if (jsonObj.ordercount > 0) {
                        var htmlMsg = '您有 <span style="font-size:12px;color:red;font-weight:bold ">' + jsonObj.ordercount + '</span> 笔新订单, ' +
                            '<a href="/order/index">点击查看</a>'
                        slideShow("新消息", htmlMsg, 5000);
                    }
                };
                snsworker.postMessage({ 'cmd': 'setIntervalTime', 'msg': msgIntervalTime });

            }
        }
        else {
            //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Workers...";
        }
    }
    setTimeout('runWorker()', msgIntervalTime);
</script>
